/* setup snippet */

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	-webkit-appearance: none;
	-moz-appearance: none;
}
input[type='search'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}
audio,
canvas,
video {
	display: inline-block;
	max-width: 100%;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden] {
	display: none;
}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:focus {
	outline: thin dotted;
}
a:active,
a:hover {
	outline: 0;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}
figure {
	margin: 0;
}
form {
	margin: 0;
}
fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend {
	border: 0;
	padding: 0;
	white-space: normal;
}
button,
input,
select,
textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
}
button,
input {
	line-height: normal;
}
button,
select {
	text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled],
html input[disabled] {
	cursor: default;
}

input[type='checkbox'],
input[type='radio'] {
	box-sizing: border-box;
	padding: 0;
}
input[type='search'] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button,
html,
input,
select,
textarea {
	color: #222;
}
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}
img {
	vertical-align: middle;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
textarea {
	resize: vertical;
}
.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: '';
	clear: both;
	height: 0;
}

html {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* general styles */

html {
	font-size: 62.5%;
}

.skip-link {
	position: absolute;
	left: -1000px;
	top: 5px;
	z-index: 999;
	background: white;
	color: black;
	font-size: 2rem;
}

.skip-link:focus {
	left: 0;
}

.wrapper {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

img {
	width: 100%;
	display: block;
	height: auto;
}

section {
	padding: 80px 0;
}

section:nth-child(even) {
	background-color: #f7dae8; /*lightpink*/
}

section:nth-child(odd),
.contact {
	background-color: #ffe9e9; /* very light pink */
}

button {
	font-size: 3.6rem;
	text-transform: lowercase;
	width: 175px;
	height: 50px;
	background-color: #0178a5;
	color: #ffe9e9;
	border: none;
}

/* font styles */

h1,
h2,
h3,
button {
	font-family: 'East Sea Dokdo', cursive;
}

nav,
p {
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	line-height: 2.9rem;
}

nav {
	font-weight: 500;
}

p {
	font-weight: 400;
	margin-bottom: 25px;
}

h2 {
	font-size: 7.5rem;
	line-height: 3.6rem;
	padding-bottom: 30px;
}

h3 {
	font-size: 5.5rem;
	line-height: 3.6rem;
}

.icons {
	font-size: 4rem;
}

a {
	text-decoration: none;
	color: inherit;
	transition: all 0.5s;
}

a:focus,
a:active {
	outline: 3px solid #97366585;
	/* border-radius: 10px; */
	padding: 5px 10px;
	font-size: 2.3rem;
}

a:hover {
	font-size: 2.5rem;
	color: #973665;
}

.socials a:hover {
	font-size: 3rem;
	color: inherit;
}

/* header styles  */
header {
	height: 100vh;
	width: 100%;
	background-image: url('../assets/group-4@2x.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

nav {
	padding-top: 20px;
}

ul {
	list-style: none;
}

header nav li {
	display: inline-block;
	padding: 10px;
	margin: 5px;
}

.fa-bars {
	color: #ffe9e9;
	display: none;
	font-size: 3.5rem;
	position: relative;
	float: right;
}

h1 {
	font-size: 12.2rem;
	line-height: 9.43rem;
	position: absolute;
	top: 40%;
	width: 40%;
}

.socials {
	color: #fff;
	font-size: 2.3rem;
	position: absolute;
	bottom: 30px;
	right: 50px;
	text-align: center;
}

.socials a {
	text-shadow: 3px 3px 3px black;
}

.socials li {
	margin-bottom: 15px;
}

/* products section */

.product-container {
	width: calc(50% - 30px);
	height: auto;
	margin: 0 30px 20px 0;
	float: left;
}

.product-summary {
	float: right;
	width: 50%;
}

/* latest exhibitions section */

.latest h2 {
	text-align: center;
}

.latest-img-container {
	width: calc((100% - 40px) / 3);
	margin-right: 20px;
	padding-bottom: 30px;
	float: left;
}

.latest-img-container:last-of-type {
	margin-right: 0;
}

/* icons section */

.icons {
	text-align: center;
}
.icons li {
	float: left;
	width: calc((100% - 60px) / 3);
	margin-right: 30px;
}

.icons a {
	color: #0178a5;
}

.icons li:last-of-type {
	margin-right: 0px;
}

/* blog */

.blog {
	padding: 0;
	background-color: #ffe9e9;
}

.blog h2 {
	padding-bottom: 0;
}

.blog p {
	padding: 20px 0;
	margin: 0;
}

.blogImg1,
.blog-content1 {
	width: 50%;
	float: right;
}

.blogImg1,
.blogImg2 {
	object-fit: cover;
	height: 620px;
}

.blog-content1 {
	padding: calc((620px - 364.15px) / 2) 30px calc((620px - 364.15px) / 2) 0;
}

.blog-content1 p,
.blog-content2 p {
	width: 390px;
}

.blogImg2 {
	float: left;
	width: 50%;
}

.blog-content2 {
	float: right;
	width: 50%;
	padding: calc((620px - 357.533px) / 2) 0 calc((620px - 357.533px) / 2) 25px;
}

/* footer + info section */

.nav-container nav {
	padding-bottom: 40px;
}

.nav-container {
	float: left;
	width: 25%;
}

.newsletter {
	float: left;
	width: 50%;
	text-align: center;
}

.info {
	float: left;
	width: 25%;
	text-align: right;
}

.info p {
	font-size: 1.7rem;
	line-height: 2.2rem;
	/* margin-top: 2rem; */
}

.info p:last-of-type {
	margin-bottom: 0;
}

form {
	padding-bottom: 40px;
}

input {
	width: calc(100% - 180px);
	height: 50px;
	font-size: 2rem;
	letter-spacing: 3px;
	border: none;
	text-align: left;
	padding-left: 15px;
	/* box-sizing: border-box; */
}

.hide-element {
	visibility: hidden;
}

.copyright {
	background: #201e21;
	color: white;
	text-align: center;
}

.author-info p {
	margin-bottom: 0;
}

footer p {
	margin-bottom: 0;
	line-height: 2.5;
}

@media (max-width: 1275px) {
	.nav-container {
		float: none;
		padding: 0px 0 30px 0;
	}

	.nav-container {
		width: 100%;
	}

	.newsletter {
		width: 60%;
	}

	.info {
		width: 40%;
	}

	.nav-container li {
		float: left;
		width: 25%;
		text-align: center;
	}
	.newsletter {
		text-align: left;
	}
}

/* MEDIA BREAKPOINT */
/* small desktops, laptops */

@media (max-width: 1024px) {
	/* @m1024 FONTS */
	h2 {
		font-size: 6.5rem;
		line-height: 4.3rem;
	}

	.blog p {
		width: 350px;
	}

	/* @M1024 blog section */

	.blog-content1 {
		padding: calc((620px - 408px) / 2) 40px calc((620px - 408px) / 2) 0;
	}

	.blog-content2 {
		padding: calc((620px - 365px) / 2) 0 calc((620px - 365px) / 2) 50px;
	}

	/* @M1024 icons */

	.icons li {
		float: none;
		width: 100%;
		margin-bottom: 40px;
	}
}
/* MEDIA BREAKPOINT */
/* TABLETS @768px */

@media (max-width: 768px) {
	section {
		padding: 65px 0;
	}

	/* @M768 header styles */
	h1 span {
		display: block;
	}

	h2 {
		text-align: center;
	}

	header nav li,
	.socials {
		display: none; /* get rid of nav links */
	}

	.fa-bars {
		display: block; /* make hamburger visible; */
	}

	/* @M768 new products section */

	.product-container {
		width: 100%;
		padding-right: 0;
		float: none;
	}

	.product-summary {
		float: none;
	}

	.products img {
		max-height: 300px;
		object-fit: cover;
	}

	.product-summary {
		float: none;
		width: 100%;
	}

	.button {
		text-align: center;
	}

	/* 768px latest exhibitions  */

	.latest-img-container {
		width: calc((100% - 40px) / 2);
	}

	.img3 {
		display: none;
	}

	/* 768px BLOG SECTION */

	.blogImg1,
	.blog-content1,
	.blogImg2,
	.blog-content2 {
		float: none;
		width: 100%;
	}

	.blogImg1,
	.blogImg2 {
		height: 350px;
	}

	.blog-content1,
	.blog-content2 {
		padding: 40px 0;
	}

	.blog p {
		width: 100%;
	}

	.button {
		text-align: center;
	}

	/* @M768 FOOTER SECTION */

	.newsletter,
	.info {
		width: 100%;
		text-align: center;
		float: none;
	}
}
